.work_container {
  padding: 0 10px 0 10px;
  padding-bottom: 50px;
}

.work_title {
  text-align: center;
  color: rgb(0, 0, 102);
  margin-top: 20px;
}

.work_cards_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0 10px 0 10px;
}
.work_card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 5px ridge rgb(0, 0, 102);
  background-color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.work_card:hover {
  transform: scale(1.05);
}

.work_card img {
  width: 30%;
}

.work_card_text {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.work_card_title {
  color: rgb(0, 0, 102);
  margin-bottom: 5px;
}

.work_card_subtitle {
  color: #888;
  margin-bottom: 5px;
}

.work_card_description {
  color: rgb(0, 0, 102);
  line-height: 1.5;
}

.project_card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 0 10px 50px 10px;
}
.project_card {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 250px;
  padding: 20px;
  border: ridge black;
  border-width: 5px;
  border-color: rgb(0, 0, 102);
  background-color: white;
  transition: transform 0.3s ease;
}
.project_card:hover {
  transform: scale(1.05);
}
.project_card img {
  width: 30%;
}
.project_card div {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding: 10px;
}
.project_card iframe {
  width: 100%;
  height: 100%;
}
/* Responsive desing */

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .work_cards_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 0 5px;
  }
  .work_card:hover {
    transform: scale(1.025);
  }
  .work_card_text {
    font-size: 12.5px !important;
  }
  .project_card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    padding: 0 5px;
  }
  .project_card:hover {
    transform: scale(1.025);
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .work_cards_container {
    grid-gap: 17.5px;
    padding: 0 7.5px;
  }
  .work_card:hover {
    transform: scale(1.025);
  }
  .work_card_text {
    font-size: 15px !important;
  }
  .project_card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    padding: 0 5px;
  }
  .project_card:hover {
    transform: scale(1.025);
  }
}

/* Estilos para pantallas más grandes */
@media screen and (min-width: 1025px) {
}

