.contact_container {
  padding: 0 10px 0 10px;
}
.contact_cards_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 10px 50px 10px;
}
.social_media_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
.icon_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icon_container {
  width: 20%;
  text-align: center;
}
.icon {
  color: white;
  font-size: 50px;
  text-align: center;
}
.txt_icon {
width: 80%;
}
/* ----------------------------------------------------------------- */
.contact_card {
  width: 40%;
}
#form_contact {
  display: flex;
  flex-direction: column;
}
#form_contact div {
  display: flex;
  flex-direction: column;
}
#form_contact div input {
  height: 30px;
  border: ridge black;
  border-color: rgb(0, 0, 102);
}
#form_contact div label {
  margin:  5px 0 5px 0;
}
#form_contact textarea {
  resize: none;
  height: 100px;
  border: ridge black;
  border-color: rgb(0, 0, 102);
}
