nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  margin: auto;
  background-color: rgb(0, 0, 102);
  width: 100px;
  height: 30px;
  padding: 5px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}
.img_menu {
  width: 200px;
}
