nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  align-items: center;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 999;
}
.nav_logo_container {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_menu {
  width: 200px;
}

.menu_icon {
  color: rgb(0, 0, 102);
  display: none;
}

.nav_ul_container {
  width: 100%;
  height: 50px;
  display: flex;
  transition: all 1s ease; 
}

.nav_ul_container.show {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  margin: auto;
  background-color: rgb(0, 0, 102);
  width: 120px;
  height: 30px;
}

a {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-decoration: none;
}

nav li a.active {
  background-color:rgb(102, 51, 255);
}

/* Responsive Desing */

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  * {
    font-size: 15px;
  }

  .nav_logo_container {
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    padding: 0 20px;
  }

  .img_menu {
    width: 120px;
  }

  .menu_icon {
    display: flex;
    font-size: 40px;
  }
  .nav_ul_container {
    display: none;
  }

  nav ul {
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    background-color: white;
  }

  nav li {
    width: 100px;
    margin: 0 5px;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    font-size: 17.5px;
  }

  .nav_logo_container {
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
  }

  .img_menu {
    width: 140px;
  }

  .menu_icon {
    display: flex;
    font-size: 50px;
  }

  .nav_ul_container {
    display: none;
  }

  nav ul {
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    background-color: white;
  }

  nav li {
    width: 110px;
  }
}

/* Estilos para pantallas más grandes */
/* @media screen and (min-width: 1025px) {
  * {
      font-size: 17.5px;
    }
    nav li {
      width: 90px;
      height: 25px;
    }
    .img_menu {
      width: 190px;
    }
  }
 */
