.home_container {
  width: 100%;
  margin-top: 180px;
  padding-bottom: 50px;
}

.img_conatiner_home {
  width: 100%;
}

.img_conatiner_home img {
  width: 100%;
}

.txt_container_home {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  margin: 50px auto;
}

.txt_card_title {
  color: rgb(0, 0, 102);
  font-size: 45px !important;
}

.txt_container_home p {
  line-height: 1.5;
}

.txt_home_card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 5px solid rgb(0, 0, 102);
  background-color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.txt_card_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  width: 95%;
  height: 80%;
  padding: 20px;
  overflow: auto;
  top: 50%;
  left: 50%;
  border: 5px solid rgb(0, 0, 102);
  background-color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

/* Responsive Desing */

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .home_container {
    margin-top: 90px;
  }
  .txt_container_home  {
    width: 80%;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .home_container {
    margin-top: 100px;
  }
  .txt_container_home  {
    width: 70%;
  }
}
