.home_container {
  width: 100%;
  margin-top: 180px;
  padding-bottom: 50px;
}

.img_conatiner_home {
  width: 100%;
}

.img_conatiner_home img {
  width: 100%;
}

.txt_container_home {
  display: flex;
  width: 60%;
  text-align: left;
  padding: 0 10px;
  margin: 50px auto;
}

.txt_container_home p {
  color: white;
  line-height: 1.5;
}

/* Responsive Desing */

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .home_container {
    margin-top: 90px;
  }
  .txt_container_home  {
    width: 80%;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .home_container {
    margin-top: 100px;
  }
  .txt_container_home  {
    width: 70%;
  }
}
