@import url("./normalize.css");

* {
  font-size: 20px;
}

h1 {
  font-size: 35px !important;
}

body {
  width: 100%;
  height: 100vh;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "engraversgothic-bt-regular", sans-serif;
  background-color: rgb(102, 51, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo */
  z-index: 999; /* Asegúrate de que esté por debajo del modal */
  pointer-events: none; /* Deshabilita las interacciones del mouse */
}

.modal-overlay.active {
  pointer-events: auto; /* Activa las interacciones del mouse para la capa de superposición */
}


/* Responsive Desing */

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  * {
    font-size: 15px;
  }
  h1 {
    font-size: 30px !important;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    font-size: 17.5px;
  }
  h1 {
    font-size: 32.5px !important;
  }
}

/* Estilos para pantallas más grandes */
@media screen and (min-width: 1025px) {
}
